*.class
.mtj.tmp/
*.ear
*.bat
hs_err_pid*
.idea/
*.iml
build/

# Others
.gradle/*
target/*
out/*
src/test/resources/apps/*
*.ipa
*.apk

.DS_Store
.gradle/
target/
out/
src/test/resources/apps/
ttautomation.properties
ttautomation.xml
jmeter.log
src/test/jmeter.log
TigerText.zip
gradle/*
gradle-wrapper.jar
gradle-wrapper.properties
gradlew
